/* .aside{
    float: left;
    width: 200px;
} */
h1{
    text-align: center;
}

aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
p{
    overflow-wrap: break-word;
}