h1{
    text-align: center;
}

aside {
    width: 20%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

#today{
    float: right;
    padding-right: 20px;
}

#clear, #search{
    background-color: #0277bd;
    color: white;
}

p{
    overflow-wrap: break-word; 
}
/*https://cdn.pixabay.com/photo/2016/09/26/17/11/air-bag-1696481_1280.jpg wind*/
/*https://cdn.pixabay.com/photo/2015/06/19/20/14/water-815271_1280.jpg rain */
/*https://cdn.pixabay.com/photo/2016/03/09/09/21/snowflake-1245748_1280.jpg snow*/
/*https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_1280.jpg thunderstorm*/
/*https://cdn.pixabay.com/photo/2020/03/29/18/36/sleet-4981775_1280.jpg hail, sleet*/
/*https://cdn.pixabay.com/photo/2017/01/06/23/09/tree-1959267_1280.jpg ice, freezing*/
/*https://cdn.pixabay.com/photo/2016/03/27/07/32/light-1282314_1280.jpg cloudy*/
